
/* A simple and portable CSS file. Looks the same under most any browser. */

.clearfix {
    overflow: auto;
}

.twothirds {
    width: 63%;
}

.bordered {
    border: thin solid black;
    padding: 1em;
}

.inline {
    display: inline;
}

.inline.bordered {}



a:visited {
  color: #000000;
}

a:active {
  color: #000000;
}

a:hover {
    background-color: #f0f0f0;
}
/*
code {
    font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Roboto Mono", "Droid Sans Mono", monospace;
}

*/

/*
pre {
    font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Roboto Mono", "Droid Sans Mono", monospace;
    border: thin solid black;
    background-color: #f0f0f0;
    padding: 1em;
    overflow-x: auto;
}
*/
body { 
      margin: 0;
      padding: 0;
      font-family: Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, Roboto, "Noto Sans", "Droid Sans", sans-serif;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
}

header {
      background-color: #000;
      color: #fff;
      text-align: center;
      padding: 20px;
	  position : fixed;
	  width: 100%;
    }

main {
      flex: 1;
      font-family: Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, Roboto, "Noto Sans", "Droid Sans", sans-serif;
	  width:   90%;
      margin:      0 auto;
      padding:     5% 2% 2% 2%;
    }

footer {
      background-color: #000;
      color: #fff;
      text-align: center;
      padding: 20px;
      bottom: 0;
      width: 100%;
    }

hr {
    width: 33%;
}

img {
    float:  right;
    margin: 0em 1em 1em 1em;
    width:  33%;
}

img.left {
    float:  left;
    margin: 1em 1em 1em 1em;
    width:  63%;
}

img.full {
    float:  left;
    margin: 0em 0em 0em 0em;
    width:  100%;
}

table {
    margin-left:auto; 
    margin-right:auto;
}

li {
    padding: 2pt; 
}

li:hover {
    background-color: #f0f0f0;
}

dt {
    font-family:   "Palatino Linotype", "Palatino", "Palladio", "Book Antiqua", "Apple Garamond", "URW Palladio L", "Noto Serif", "Droid Serif", serif;
}

dt:hover {
    background-color: #f0f0f0;
}


dd {
    padding: 2pt; 
}

dd:hover {
    background-color: #f0f0f0;
}

h1 {
    padding-top:   0;
    margin-bottom: 3%;
    font-family:   "Poppins", sans-serif;
	letter-spacing: 2px;
    border-bottom: thick solid black;

}

h2 {
    font-family:   "Palatino Linotype", "Palatino", "Palladio", "Book Antiqua", "Apple Garamond", "URW Palladio L", "Noto Serif", "Droid Serif", serif;
    border-bottom: thin solid black;

}



h3, h4, h5, h6 {
    font-family:   "Palatino Linotype", "Palatino", "Palladio", "Book Antiqua", "Apple Garamond", "URW Palladio L", "Noto Serif", "Droid Serif", serif;
	padding: 0 5px;
	margin: 0;
	display: inline-block;
	background:linear-gradient(
		to bottom,
		transparent 70%,
		#b2e8e8 50%
	);


}

abbr:hover {
            cursor: help;
        }

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
}

